In [18]:
import yfinance as yf
import pandas as pd
import datetime as dt
import time
from datetime import timedelta
import pandas_ta as ta

from sklearn.metrics import precision_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

from functools import reduce

In [19]:
def get_data(ticker, year,month,day):
    start = dt.datetime(1999,1,1)
    end = dt.datetime.now()
     

    df = yf.download(ticker,start,end)
    
    return df

In [20]:
def get_features(dataframe):
    features = []
    for column in dataframe:
        features.append(column)
    
    features.pop(-1)
    features.pop(-1)
    
    return features

In [21]:
def fit_train_score(df, n_est, min_split):    
    features = get_features(df)
    
    model = RandomForestClassifier(random_state=1, n_estimators=n_est, min_samples_split=min_split)
    
    train = df_merged.iloc[:-1000]
    test = df_merged.iloc[-1000:]

    model.fit(train[features], train['Target'])
    predictions = model.predict(test[features])
    predictions_training = model.predict(train[features])


    test_dict = {
    'n_estimators':n_est,
    'min_samples_split':min_split,
    'training precision':precision_score(train['Target'], predictions_training),
    'testing precision':precision_score(test['Target'], predictions)
            }
    print(test_dict)

In [72]:
df = get_data('SPY',1999,1,1)

[*********************100%***********************]  1 of 1 completed

In [73]:
# add features to model (SPY dataframe)
df['Range'] = ta.true_range(df['High'], df['Low'], df['Close'])
df['RSI 14'] = ta.rsi(df['Close'], 14)
df['VWAP'] = ta.vwap(df['High'], df['Low'], df['Close'], df['Volume'],1)
df['Momentum'] = ta.roc(df['Close'], 12)
df['ATR'] = ta.atr(df['High'], df['Low'], df['Close'])
df['Volume SMA 5'] = ta.sma(close=df['Volume'], length=5)

In [62]:
df[-10:]

,Open,High,Low,Close,Adj Close,Volume,Range,RSI 14,VWAP,Momentum,ATR,Volume SMA 5
Date,,,,,,,,,,,,
2023-08-14,444.700012,448.109985,444.380005,448.109985,448.109985,47867400,3.729980,50.881164,446.866659,-0.967978,4.301761,71937680.0
2023-08-15,446.269989,446.640015,442.299988,442.890015,442.890015,75707500,5.809998,42.745614,443.943339,-3.070559,4.409492,72806920.0
2023-08-16,442.459991,444.179993,439.529999,439.640015,439.640015,80107200,4.649994,38.606648,441.116669,-3.964699,4.426671,73070440.0
2023-08-17,441.160004,441.429993,435.750000,436.290009,436.290009,95711300,5.679993,34.859752,437.823334,-4.422976,4.516194,73611600.0
2023-08-18,433.369995,437.570007,433.010010,436.500000,436.500000,98758400,4.559998,35.283750,435.693339,-3.028015,4.519322,79630360.0
2023-08-21,437.549988,440.109985,435.320007,439.339996,439.339996,68719000,4.789978,40.887683,438.256663,-2.116567,4.538655,83800680.0
2023-08-22,441.179993,441.179993,437.570007,438.149994,438.149994,65062900,3.609985,39.350095,438.966665,-1.938185,4.472321,81671760.0
2023-08-23,439.250000,443.670013,439.100006,443.029999,443.029999,68441000,5.520020,47.987997,441.933339,-1.703977,4.547157,79338520.0
2023-08-24,444.690002,445.220001,436.859985,436.890015,436.890015,88517300,8.360016,40.225352,439.656667,-2.642894,4.819504,77899720.0
2023-08-25,438.679993,441.299988,435.000000,439.970001,439.970001,102297000,6.299988,45.029060,438.756663,-1.296691,4.925253,78607440.0

In [74]:
# make new indicators 
# ratio of true range on that day to average true range
df['R ratio'] = df['Range']/df['ATR']

# did the day close above yesterday's close?
df['Higer Close'] = (df['Close'] > (df['Close'].shift(-1))).astype(int)

# did the day open above yesterday's close (did it gap up?)
df['Gap Up'] = (df['Open'] > (df['Close'].shift(-1))).astype(int)

# percent change on the day
df['Percent Change'] = ((df['Close']-df['Open'])/df['Open'])*100



# trend up
#df['Trend Up'] = (df['Close'] > df['Open'].shift(-1)).astype(int)

#df['Trend Up'] = 

df.drop(columns=['Adj Close', 'Open', 'High', 'Low', 'Close', 'Volume'])

,Range,RSI 14,VWAP,Momentum,ATR,Volume SMA 5,R ratio,Higer Close,Gap Up,Percent Change
Date,,,,,,,,,,
1999-01-04,NaN,NaN,123.322917,NaN,NaN,NaN,NaN,0,0,-0.278622
1999-01-05,1.937500,NaN,124.083333,NaN,NaN,NaN,NaN,0,0,1.220132
1999-01-06,3.312500,NaN,126.979167,NaN,NaN,NaN,NaN,1,0,1.291605
1999-01-07,1.656250,NaN,126.604167,NaN,NaN,NaN,NaN,0,0,0.346192
1999-01-08,2.531250,NaN,127.406250,NaN,NaN,7389680.0,NaN,1,1,-0.341297
...,...,...,...,...,...,...,...,...,...,...
2023-08-21,4.789978,40.887683,438.256663,-2.116567,4.538655,83800680.0,1.055374,1,0,0.409098
2023-08-22,3.609985,39.350095,438.966665,-1.938185,4.472321,81671760.0,0.807184,0,0,-0.686794
2023-08-23,5.520020,47.987997,441.933339,-1.703977,4.547157,79338520.0,1.213950,1,1,0.860557
2023-08-24,8.360016,40.225352,439.656667,-2.642894,4.819504,77899720.0,1.734622,0,1,-1.754028
2023-08-25,6.299988,45.029060,438.756663,-1.296691,4.925253,78607440.0,1.279120,0,0,0.294066

In [75]:
df

,Open,High,Low,Close,Adj Close,Volume,Range,RSI 14,VWAP,Momentum,ATR,Volume SMA 5,R ratio,Higer Close,Gap Up,Percent Change
Date,,,,,,,,,,,,,,,,
1999-01-04,123.375000,125.218750,121.718750,123.031250,79.169907,9450400,NaN,NaN,123.322917,NaN,NaN,NaN,NaN,0,0,-0.278622
1999-01-05,122.937500,124.875000,122.937500,124.437500,80.074814,8031000,1.937500,NaN,124.083333,NaN,NaN,NaN,NaN,0,0,1.220132
1999-01-06,125.812500,127.750000,125.750000,127.437500,82.005310,7737700,3.312500,NaN,126.979167,NaN,NaN,NaN,NaN,1,0,1.291605
1999-01-07,126.375000,127.218750,125.781250,126.812500,81.603111,5504900,1.656250,NaN,126.604167,NaN,NaN,NaN,NaN,0,0,0.346192
1999-01-08,128.187500,128.500000,125.968750,127.750000,82.206406,6224400,2.531250,NaN,127.406250,NaN,NaN,7389680.0,NaN,1,1,-0.341297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-21,437.549988,440.109985,435.320007,439.339996,439.339996,68719000,4.789978,40.887683,438.256663,-2.116567,4.538655,83800680.0,1.055374,1,0,0.409098
2023-08-22,441.179993,441.179993,437.570007,438.149994,438.149994,65062900,3.609985,39.350095,438.966665,-1.938185,4.472321,81671760.0,0.807184,0,0,-0.686794
2023-08-23,439.250000,443.670013,439.100006,443.029999,443.029999,68441000,5.520020,47.987997,441.933339,-1.703977,4.547157,79338520.0,1.213950,1,1,0.860557
2023-08-24,444.690002,445.220001,436.859985,436.890015,436.890015,88517300,8.360016,40.225352,439.656667,-2.642894,4.819504,77899720.0,1.734622,0,1,-1.754028
2023-08-25,438.679993,441.299988,435.000000,439.970001,439.970001,102297000,6.299988,45.029060,438.756663,-1.296691,4.925253,78607440.0,1.279120,0,0,0.294066

In [76]:
# create 'Tomorrow' column
# it's the 'Close' value from the previous day
# will be used to create a target
df['Tomorrow'] = df['Close'].shift(-1)
df['Target'] = (df['Tomorrow'] > df['Close']).astype(int)
df = df.loc['2000-01-01':]
df.drop('Adj Close', axis=1, inplace=True)
df.drop(df.tail(1).index, inplace=True)

C:\Users\13148\AppData\Local\Temp\ipykernel_16748\1673716779.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Adj Close', axis=1, inplace=True)
C:\Users\13148\AppData\Local\Temp\ipykernel_16748\1673716779.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df.tail(1).index, inplace=True)

In [77]:
df

,Open,High,Low,Close,Volume,Range,RSI 14,VWAP,Momentum,ATR,Volume SMA 5,R ratio,Higer Close,Gap Up,Percent Change,Tomorrow,Target
Date,,,,,,,,,,,,,,,,,
2000-01-03,148.250000,148.250000,143.875000,145.437500,8164300,4.375000,60.123229,145.854167,2.782686,1.978058,4412760.0,2.211766,1,1,-1.897133,139.750000,0
2000-01-04,143.531250,144.062500,139.640625,139.750000,8089800,5.796875,39.912317,141.151042,-1.671064,2.250830,5213820.0,2.575438,0,1,-2.634444,140.000000,1
2000-01-05,139.937500,141.531250,137.250000,140.000000,12177900,4.281250,40.853504,139.593750,-1.883487,2.395860,7049200.0,1.786936,1,1,0.044663,137.750000,0
2000-01-06,139.625000,141.500000,137.750000,137.750000,6227200,3.750000,35.468775,139.000000,-2.757556,2.492585,7566380.0,1.504463,0,0,-1.342883,145.750000,1
2000-01-07,140.312500,145.750000,140.062500,145.750000,8066500,8.000000,57.113342,143.854167,1.347240,2.885971,8545140.0,2.772030,0,0,3.875278,146.250000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-18,433.369995,437.570007,433.010010,436.500000,98758400,4.559998,35.283750,435.693339,-3.028015,4.519322,79630360.0,1.009000,0,0,0.722248,439.339996,1
2023-08-21,437.549988,440.109985,435.320007,439.339996,68719000,4.789978,40.887683,438.256663,-2.116567,4.538655,83800680.0,1.055374,1,0,0.409098,438.149994,0
2023-08-22,441.179993,441.179993,437.570007,438.149994,65062900,3.609985,39.350095,438.966665,-1.938185,4.472321,81671760.0,0.807184,0,0,-0.686794,443.029999,1
2023-08-23,439.250000,443.670013,439.100006,443.029999,68441000,5.520020,47.987997,441.933339,-1.703977,4.547157,79338520.0,1.213950,1,1,0.860557,436.890015,0
2023-08-24,444.690002,445.220001,436.859985,436.890015,88517300,8.360016,40.225352,439.656667,-2.642894,4.819504,77899720.0,1.734622,0,1,-1.754028,439.970001,1

In [53]:
# get foreign market and gold data

#UK_df = get_data('^FTSE',1999,1,1)
#China_df = get_data('000001.SS',1999,1,1)
#Germany_df = get_data('^GDAXI',1999,1,1)
#Japan_df = get_data('^N225',1999,1,1)
gold_df = get_data('GC=F',1999,1,1)

[*********************100%***********************]  1 of 1 completed

In [ ]:
# drop volume from foreign data dfs
#rename columns
# remove first year of dat

UK_df.drop(['Volume', 'Adj Close'], axis=1, inplace=True)
UK_df.rename(columns={
    'Open':'UK Open',
    'High':'UK High',
    'Low':'UK Low',
    'Close':'UK Close'
},inplace=True)
UK_df.loc['2000-01-01':]

China_df.drop(['Volume', 'Adj Close'], axis=1, inplace=True)
China_df.rename(columns={
    'Open':'China Open',
    'High':'China High',
    'Low':'China Low',
    'Close':'China Close'
},inplace=True)
China_df.loc['2000-01-01':]

Germany_df.drop(['Volume', 'Adj Close'], axis=1, inplace=True)
Germany_df.rename(columns={
    'Open':'Germany Open',
    'High':'Germany High',
    'Low':'Germany Low',
    'Close':'Germany Close'
},inplace=True)
Germany_df.loc['2000-01-01':]

Japan_df.drop(['Volume', 'Adj Close'], axis=1, inplace=True)
Japan_df.rename(columns={
    'Open':'Japan Open',
    'High':'Japan High',
    'Low':'Japan Low',
    'Close':'Japan Close'
},inplace=True)
Japan_df.loc['2000-01-01':]

gold_df.drop(['Volume', 'Adj Close'], axis=1, inplace=True)
gold_df.rename(columns={
    'Open':'Gold Open',
    'High':'Gold High',
    'Low':'Gold Low',
    'Close':'Gold Close'
},inplace=True)
gold_df.loc['2000-01-01':]

In [55]:
# merge SPY, foreign market, and gold data into one df

#dfs = [UK_df, China_df, Germany_df, Japan_df, gold_df, df]
dfs = [gold_df, df]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Date'],
                                            how='inner'), dfs)
df_merged

,Gold Open,Gold High,Gold Low,Gold Close,Open,High,Low,Close,Volume,Range,RSI 14,VWAP,Momentum,ATR,Volume SMA 5,R ratio,Higer Close,Gap Up,Tomorrow,Target
Date,,,,,,,,,,,,,,,,,,,,
2000-08-30,273.899994,273.899994,273.899994,273.899994,151.312500,151.500000,150.343750,150.343750,3964800,1.453125,55.725080,150.729167,0.711744,1.661060,4079320.0,0.874818,0,0,152.343750,1
2000-08-31,274.799988,278.299988,274.799988,278.299988,151.062500,153.093750,150.906250,152.343750,4863100,2.750000,62.639763,152.114583,2.137021,1.738841,4146140.0,1.581513,0,0,152.500000,1
2000-09-01,277.000000,277.000000,277.000000,277.000000,153.250000,153.593750,152.000000,152.500000,3191200,1.593750,63.124303,152.697917,2.607233,1.728478,4219940.0,0.922054,1,1,151.281250,0
2000-09-05,275.799988,275.799988,275.799988,275.799988,151.875000,152.203125,150.812500,151.281250,3470800,1.687500,56.922949,151.432292,0.728256,1.725551,3810360.0,0.977949,1,1,149.562500,0
2000-09-06,274.200012,274.200012,274.200012,274.200012,151.187500,151.953125,149.531250,149.562500,4322200,2.421875,49.532617,150.348958,-0.083507,1.775288,3962420.0,1.364215,0,1,150.843750,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-18,1891.800049,1891.800049,1886.099976,1886.099976,433.369995,437.570007,433.010010,436.500000,98758400,4.559998,35.283750,435.693339,-3.028015,4.519322,79630360.0,1.009000,0,0,439.339996,1
2023-08-21,1893.599976,1893.599976,1893.300049,1893.300049,437.549988,440.109985,435.320007,439.339996,68719000,4.789978,40.887683,438.256663,-2.116567,4.538655,83800680.0,1.055374,1,0,438.149994,0
2023-08-22,1894.599976,1896.800049,1892.800049,1896.400024,441.179993,441.179993,437.570007,438.149994,65062900,3.609985,39.350095,438.966665,-1.938185,4.472321,81671760.0,0.807184,0,0,443.029999,1
2023-08-23,1909.599976,1918.500000,1909.599976,1918.500000,439.250000,443.670013,439.100006,443.029999,68441000,5.520020,47.987997,441.933339,-1.703977,4.547157,79338520.0,1.213950,1,1,436.890015,0
2023-08-24,1920.000000,1920.800049,1918.199951,1918.199951,444.690002,445.220001,436.859985,436.890015,88517300,8.360016,40.225352,439.656667,-2.642894,4.819504,77899720.0,1.734622,0,1,439.970001,1

In [56]:
df_merged = df.copy()

In [57]:
df_merged['Target'].value_counts()

1    3195
0    2754
Name: Target, dtype: int64

In [79]:
feature = get_features(df)
feature

['Open',
 'High',
 'Low',
 'Close',
 'Volume',
 'Range',
 'RSI 14',
 'VWAP',
 'Momentum',
 'ATR',
 'Volume SMA 5',
 'R ratio',
 'Higer Close',
 'Gap Up',
 'Percent Change']

In [78]:
fit_train_score(df, 200, 250)

KeyError: "['Percent Change'] not in index"

In [59]:
fit_train_score(df_merged, 500, 250)

{'n_estimators': 500, 'min_samples_split': 250, 'training precision': 0.9928998505231689, 'testing precision': 0.9962962962962963}